{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<main class=" mt-5 mb-5">
    <div class="container">
        <div class="jumbotron card card-image shadow-1-strong" style="background-color: #fff0d35d;">
            <div class="text-white py-5 px-5">
                <section class="mb-4 text-center">
                    <div class="row wow fadeIn">
                        <div class='col-lg-6 col-xl-6 offset-lg-3 offset-xl-3'>

                            <h1><strong>{% trans "Password Reset" %}</strong></h1>

                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

{% endblock %}