<!--Footer-->
<footer class="page-footer text-center text-md-left stylish-color-dark pt-0">
 <div style="background-color: #4285f4;">
 
    <div class="container">
      <!--Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!--Grid column-->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!--Facebook-->
          <a class="fb-ic ml-0 px-2" href="https://www.facebook.com/AlaDarulBly">
            <i class="fab fa-facebook-f white-text"> </i>
          </a>
          <!--Twitter-->
          <a class="tw-ic px-2" href="https://twitter.com/AlaDarul">
            <i class="fab fa-twitter white-text"> </i>
          </a>
          <!--Google +-->
          <a class="gplus-ic px-2" href="">
            <i class="fab fa-youtube white-text"> </i>
          </a>
          <!--Linkedin-->
          <a class="li-ic px-2">
            <i class="fab fa-linkedin-in white-text"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic px-2" href="">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </div>

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-6 col-lg-4 col-xl-3 mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Sofware Engineering</strong>
        </h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>Tis is a project made as the coding section of sofware engineering lab of fifth semester by ...</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Products</strong>
        </h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>
          <a href="#">bookstore</a>
        </p>
        <p>
          <a href="#">MDNKTEO</a>
        </p>
        <p>
          <a href="#">BrandFlow</a>
        </p>
        <p>
          <a href="#">Bootstrap Angular</a>
        </p>
      </div> -->
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-2">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Useful links</strong>
        </h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>
          <a href="{% url 'profile' %}">Your Profile</a>
        </p>
        <p>
          <a href="{% url 'add-seller' %}">Become an Seller</a>
        </p>
      </div>
      <!--/.Third column-->

      <!--Fourth column-->
      <div class="col-md-6 col-lg-3 col-xl-3">
        <h6 class="text-uppercase font-weight-bold">
          <strong>Contact</strong>
        </h6>
        <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
        <p>
          <i class="fas fa-home mr-3"></i> 28, Islamiyah Market, Near Naumela Masjid, Bareilly.
        </p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info.islamihindibooks@gmail.com
        </p>
        <p>
          <i class="fas fa-phone mr-3"></i> +91-9837777689
        </p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <!-- Copyright-->
  <div class="footer-copyright py-3 text-center">
    <div class="container-fluid">
      © 2021 Copyright: <a href="http://www.islamihindibooks.com/" target="_blank"> islamihindibooks.com </a>
    </div>
  </div>
  <!--/.Copyright -->

</footer>
<!--/.Footer-->